<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-4.dtd">
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" media="all"
          th:href="@{/css/style.css}" href="/css/style.css" />
    <link rel="stylesheet" type="text/css" media="all"
          th:href="@{/css/style.css}" href="/css/bootstrap.min.css" />
    <title>Pay</title>
</head>
<body>
<p th:text="|De datum van vandaag is ${date}|"></p>
<p th:text="|De betaaldatum is ${date30}|"></p>
</body>
</html>