<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-4.dtd">
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" media="all"
          th:href="@{/css/style.css}" href="/css/style.css"/>
    <link rel="stylesheet" type="text/css" media="all"
          th:href="@{/css/style.css}" href="/css/bootstrap.min.css"/>
    <title>venueList</title>
</head>
<body>
<header>
</header>
<div th:replace="fragments/header :: header">Header</div>
<main>
    <h2>Venues</h2>

    <div class="container"><a class="blok2" th:if="${!showFilter}" th:href="@{|/venuelist/filter|}" th:text="filter">filter</a>
        <a class="blok2" th:if="${showFilter}" th:href="@{|/venuelist|}" th:text="'-'">filter</a>
        <div th:if="${showFilter}" th:text="|${maxvenues}|"></div>
        <h2>Capacity</h2>
        <div th:if="${showFilter}" class="filters"><a class="buttonLook filterButton" th:href="@{/venuelist}">--</a>
            <form>
                <h3>capacity</h3>
                <div class="onefilter">
                    <input type="submit" value="search" class="buttonLook filterButton"></input>
                </div>
                <div class="onefilter">
                    <label for="minCapacity" class="filtername">min</label>
                    <input type="number" id="minCapacity" name="minCapacity" value="0" step="50">persons
                </div>
            </form>
        </div>

        <div class="row">
            <div class="Kolom1">
                <div class="blok3" th:each="venue : ${venues}">
                    <a th:href="@{|/venuedetails/${venue.id}|}" th:text="${venue.getVenueName()}">venue Name</a>
                </div>
                <div class="blok3"><a th:href="@{/venuedetails}">venuedetails</a></div>
            </div>
        </div>
    </div>

</main>

</body>
</html>